.card {
    display: flex;
    flex-direction: column;
    // backdrop-filter: blur(10px);
    position: relative;

    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    background: var(--secondary-color);
    border-radius: 5px;

    @each $colorName,
    $colorValue in $colors {
        &.#{$colorName} {
            border: 1px solid rgba(map-get($colorValue, "color"), 100%);

            &::before {
                --stroke-width: 4px;
                content: "";
                position: absolute;
                top: 0;
                left: 25%;
                right: 0;
                width: 50%;
                height: 0;
                // border-radius: 999px;

                border-left: var(--stroke-width) solid transparent;
                border-bottom: var(--stroke-width) solid transparent;
                border-right: var(--stroke-width) solid transparent;
                border-top: var(--stroke-width) solid map-get($colorValue, "color");
            }

            &::after {
                --stroke-width: 4px;
                content: "";
                position: absolute;
                bottom: calc(var(--stroke-width) * -2);

                left: 12.5%;
                right: 0;
                width: 75%;
                height: 0;
                // border-radius: 999px;

                border-left: var(--stroke-width) solid transparent;
                border-bottom: var(--stroke-width) solid transparent;
                border-right: var(--stroke-width) solid transparent;
                border-top: var(--stroke-width) solid map-get($colorValue, "color");
            }
        }
    }

    .card-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: .5em;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding: .5em;
    }


    .card-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: .5em;
    }

}