@use "sass:math";

.divider {
    content: "";
    display: inline;
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    align-self: stretch;
}

.chip {

    @each $colorName,
    $colorValue in $colors {
        &.#{$colorName} {
            &.glowing {

                --glowingIntensity: .5;

                @for $i from 1 through 10 {
                    &.glow-#{$i} {
                        --glowingIntensity: #{math.div($i, 10)};
                    }
                }

                box-shadow: 0 0 calc(var(--glowingIntensity) * 1em) calc(var(--glowingIntensity) * .33em) rgba(map-get($colorValue, "color"), var(--glowingIntensity));
            }
        }
    }
}