@font-face {
    font-family: MainFont;
    src: url("@assets/fonts/Hanken/HankenGrotesk-wght.ttf") format("truetype");
    font-weight: 100 900;
}

@font-face {
    font-family: CodeFont;
    src: url("@assets/fonts/FiraCode/FiraCode.ttf") format("truetype");
    font-weight: 100 900;
}